.Element {
  color: #727272;
  background: #fff;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  -webkit-appearance: none;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
}

.Del-element {
  cursor: pointer;
  transform: translate(-5%, -100%);
  transition: all 0.3s ease;
}

.Del-element:hover {
  color: red;
}

.Input {
  display: flex;
  margin-bottom: 1.5rem;
}

.InputQuiz {
  flex: 1;
}

.InputErr {
  flex: 1;
  margin-left: 1rem;
}

.Actions {
  margin: 1rem 0;
}
  
.Actions .Btn {
 -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.Actions .Btn:hover {
  color: #2196F3 !important;
}
