body {
  background-color: #eeeeee;
}

.Container {
  margin: 1rem 0;
}

.Card {
  padding: 1rem;
  color: #505050;
  background: #fdfdfd;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

.Form {  
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.Btns {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.Btn {
  margin: 0 0.2rem;
} 
