 .Options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem 0;
  padding: 1rem 0.5rem 0 0.5rem;
  border-top: 0.5px solid #ddd;
}

.Options .Btn {
  margin: 0;
  margin-top: 0.5rem;
  align-self: flex-end;
}

.Options .Btn:hover {
  color: #2196F3 !important;
}

.OptionItem {
  display: flex;
  justify-content: flex-start;
}

.Item {
  padding-top: 0.9rem;
}

.InlineEdit {
  flex-basis: 10rem;
  margin-left: 1rem;
}

.DelItem {
  padding-top: 1rem;
}

.DelItem:hover {
  color: red !important;
}

.Select {
  display: flex;
  flex-direction: column;
}

.SelItems {
  width: 12rem;
  margin: 0.2rem 0.5rem;
}

.SelItem {
  display: flex;
  flex-direction: row;
}

.SelItem .InlineEdit {
  flex-basis: 12rem;
  margin-left: 0;
}

.Text {
  font-size: 0.85rem;
  border: none;
  padding: 0.3rem;
} 